<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<title>Rival Ultimate - Roster</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="icon" type="image/png" href="img/icons/RivalFavicon_64Circle.png">

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/roster.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<body ng-controller="MainCtrl">
	<nav class="navbar navbar-toplogo navbar-fixed-top">
		<a href="index.html"><div id="navbarlogolaurel"><div id="laurelimage"></div></div></a>
	</nav>

	<nav class="navbar navbar-white navbar-fixed-top">

		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav nav-pills nav-justified">
        	<li role="presentation"><a href="aboutus.html"><span class="sliding-middle-out">ABOUT US</span></a></li>
				  <li role="presentation"><a href="roster.html"><span class="active sliding-middle-out">ROSTER</span></a></li>
					<li role="presentation"></li>
					<li role="presentation"><a href="news.html"><span class="sliding-middle-out">NEWS</span></a></li>
					<li role="presentation"><a href="results.html"><span class="sliding-middle-out">RESULTS</span></a></li>
        </ul>
      </div>
		</div>
	</nav>

	<div id="roster-content" class="container col-sm-12">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10" id="maincol">

				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
						<span id="rosterheader"> RIVAL 2016 </span>
					</div>
					<div class="col-sm-2"></div>
				</div>

				<br/><br/>

				<div class="row">
					<div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="player in roster">
						<div class="thumbnail" ng-init="imgsrc='img/userimages/'+player.image" ng-mouseover="imgsrc='img/Roster2016/funnyfaces/'+player.imageff" ng-mouseout="imgsrc='img/userimages/'+player.image">
							<img ng-src="{{imgsrc}}" style="border-radius:50%;"/>
							<div class="caption">
								<h3>{{getPlayerName(player.id) | uppercase}}</h3>
								<div class="player-number" ng-if="player.type == 'player'">#{{player.id}}</div>
								<div class="player-number" ng-if="player.type == 'coach'">COACH</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</body>
</html>
