<html ng-app="myApp">

  <head>
  	<title>Rival Ultimate</title>

  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  	<link href='https://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>

  	<link rel="stylesheet" type="text/css" href="../style.css">

  	<link rel="icon" type="image/png" href="../img/icons/RivalFavicon_64Circle.png">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="stats.js"></script>

  	<!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  	<!-- jQuery library -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  	<!-- Latest compiled JavaScript -->
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>


  <body class="stats" ng-controller="MainCtrl">
    <div style="height:100%; padding:20px;">
        <table class="table table-hover table-condensed" style="width:45%">
            <tr >
                <td>NAME</td>
                <td>Turns</td>
                <td>Scores</td>
                <td>Assists</td>
                <td>Ds</td>
                <td>Calahans</td>
                <td>Touches</td>

            </tr>
            <tr ng-repeat="player in players" ng-if="getPlayerStatsTotals(player.id, 'touches') > 0">
                <td>{{player.name}}</td>
                <!--<td>{{getPlayerStatsTotals(player.id, "pointsPlayed")}}</td>
                <td>{{getPlayerPointTotalFromSubSheets(player.id)}}</td>-->
                <td>{{getPlayerStatsTotals(player.id, "turns")}}</td>
                <td>{{getPlayerStatsTotals(player.id, "scores")}}</td>
                <td>{{getPlayerStatsTotals(player.id, "assists")}}</td>
                <td>{{getPlayerStatsTotals(player.id, "ds")}}</td>
                <td>{{getPlayerStatsTotals(player.id, "calahans")}}</td>
                <td>{{getPlayerStatsTotals(player.id, "touches")}}</td>
                <!--<td>{{getPlayerStatsTotals(player.id, "turns")/getPlayerStatsTotals(player.id, "touches")}}</td>
                <td>{{getPlayerStatsTotals(player.id, "turns")/getPlayerStatsTotals(player.id, "pointsPlayed")}}</td>-->
            </tr>
        </table>
        <!--<table class="table table-hover table-condensed" style="width:45%">
            <tr>
                <td>NAME</td>
                <td ng-repeat="point in generateStatSheet()">{{$index}}</td>
            </tr>
            <tr ng-repeat="player in players">
                <td>{{player.name}}</td>
                <td ng-repeat="point in generateStatSheet()">x</td>
            </tr>
        </table>-->
        <!--{{generateStatSheet()}}-->

        <!--{{selectedSubSheet}}-->
        <!--{{totalPointsInSubsheet()}}-->

    </div>
  </body>
</html>
